@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 550;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  color: $black;
  font-size: 16px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "HelveticaNeueCyr", sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}


.h2 {
  margin: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;

  
  @include tablet {
    font-size: 32px;
    text-align: center;
  }
}
