// colors

$white: #ffffff;
$black: #111111;
$lightgray: #f6f6f6;
$gray: #cccccc;
$darkgray: #777777;
$deepgray: #999999;
$green: #219653;
$red: #ec1818;


// transition

$baseTransition: all ease-in-out 0.15s;
