.advertising {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
  }

  &__card {
    position: relative;
    flex: 0 0 calc(100% / 4 - 10px * 3 / 4);
    display: flex;
    flex-direction: column;
    max-width: 284px;
    height: 300px;
    padding: 16px 16px 11px;
    border-radius: 16px;
    box-sizing: border-box;
    color: $white;

    @include laptop {
      flex: 0 0 calc(100% / 2 - 10px / 2);
      max-width: none;
    }

    @include tablet {
      height: 180px;
      padding: 10px 10px 6px;
    }

    &:nth-child(2n + 1) {
      background-image: linear-gradient(335deg, #c50000 16.98%, #ff7a00 100%);
    }

    &:nth-child(2n + 2) {
      background: linear-gradient(358deg, #1c2f8f 13.36%, #ff5c00 72.26%);
    }

    &:nth-child(2n + 3) {
      background: linear-gradient(358deg, #1c2f8f 13.36%, #96d3eb 72.26%);
    }

    &:nth-child(2n + 4) {
      background: linear-gradient(326deg, #0e2a89 -23.09%, #dd0d13 75.26%);
    }

    & * {
      position: relative;
      z-index: 2;
    }

    &-figure {
      position: absolute;
      top: 16px;
      bottom: 16px;
      left: 16px;
      right: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include tablet {
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
      }

      &-image {
        display: block;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    &-title {
      flex: 1 1 auto;
      max-width: 219px;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;

      @include tablet {
        font-size: 14px;
      }

      @include mobile {
        font-size: 12px;
      }
    }

    &-price {
      margin: 0 0 11px;
      padding: 10px;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;

      @include laptop {
        padding: 5px;
        font-size: 20px;
      }

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
      }

      &_right {
        text-align: right;
      }
    }

    &-disclaimer {
      font-size: 10px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      text-align: center;
      text-transform: uppercase;
      opacity: 0.5;

      @include desktop {
        font-size: 9px;
      }

      @include laptop {
        font-size: 8px;
      }

      @include tablet {
        font-size: 6px;
      }
    }

    &-tag {
      position: absolute;
      top: 16px;
      right: 16px;
      padding: 4px 6px;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-align: center;
      border-radius: 8px;
      background: rgba($color: $black, $alpha: 0.4);
      opacity: 0.6;

      @include desktop {
        padding: 2px 4px;
        font-size: 8px;
        border-radius: 4px;
      }

      @include tablet {
        top: 10px;
        right: 10px;
      }
    }
  }
}
