.advertising {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
  }

  & .advertising-card {
    flex: 0 0 calc(100% / 4 - 10px * 3 / 4);

    @include laptop {
      flex: 0 0 calc(100% / 2 - 10px / 2);
    }
  }
}
