.catalog {
  padding: 50px 0;
  background-color: $lightgray;

  @include tablet {
    padding: 32px 0;
  }

  & .container {
    display: flex;
    gap: 30px;
  }

  &__filter {
    flex: 0 0 270px;

    @include laptop {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1001;
      max-width: 300px;
      padding: 16px;
      box-sizing: border-box;
      overflow: auto;
      background-color: $white;
      transform: translateX(-120%);
      transition: $baseTransition;
    }
    
    &.active {
      @include laptop {
        transform: translateX(0);
      }
    }

    &-title {
      margin: 40px 0 24px;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;

      @include laptop {
        font-size: 16px;
        margin: 24px 0 20px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    &-checkboxes {
      &-wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-height: calc(36px * 7);
        margin-bottom: 16px;
        overflow: hidden;
      }

      &-toggler {
        color: $red;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-decoration-line: underline;
        cursor: pointer;

        @include laptop {
          font-size: 14px;
        }
      }
    }
  }

  &__content {
    flex: 1 1 auto;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 16px;

    @include mobile {
      align-items: flex-start;
    }

    &-sorting {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      padding-left: 16px;

      @include mobile {
        gap: 20px;
        padding: 0;
      }
    }

    &-filter {
      display: none;

      @include laptop {
        display: block;
      }

      &-button {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0;
        color: $black;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        border: none;
        background: none;
        cursor: pointer;

        @include tablet {
          font-size: 14px;
        }

        &::before {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background: url(../assets/icons/filter.svg) center no-repeat;
          background-size: 100%;
        }

        &.active::after {
          content: '';
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1000;
          display: block;
          background-color: rgba($color: $black, $alpha: 0.5);
        }
      }
    }

    &-view {
      display: flex;
      align-items: center;
      gap: 15px;

      @include mobile {
        display: none;
      }

      &-button {
        display: inline-block;
        height: 21px;
        width: 25px;
        border: none;
        background-color: rgba($color: $white, $alpha: 0);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        outline: none;
        opacity: 0.4;
        cursor: pointer;

        &_rows {
          background-image: url(../assets/icons/rows.svg);
        }

        &_tiles {
          background-image: url(../assets/icons/tiles.svg);
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include mobile {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 8px;
    }

    & .pharmacy-card {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 32px;
      padding: 20px;
      background-color: $white;

      @include tablet {
        gap: 10px;
        padding: 10px;
      }

      @include mobile {
        flex: 0 0 calc(100% / 2 - 8px / 2);
        flex-direction: column;
        box-sizing: border-box;
      }

      & > * {
        flex: 0 0 auto;
        margin: 0;
      }

      &__figure {
        @include tablet {
          height: auto;
        }

        &-image {
          @include tablet {
            max-width: 148px;
          }

          @include mobile {
            max-width: 130px;
          }
        }
      }

      &__properties {
        @include mobile {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__block_text {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }
    }

    &_tiles {
      flex-direction: row;
      flex-wrap: wrap;

      @include desktop {
        gap: 8px;
      }

      & .pharmacy-card {
        flex: 0 0 calc(100% / 3 - 24px / 3 * 2);
        flex-direction: column;
        max-width: calc(100% / 3 - 24px / 3 * 2);
        box-sizing: border-box;

        @include desktop {
          flex: 0 0 calc(100% / 3 - 8px / 3 * 2);
          max-width: calc(100% / 3 - 8px / 3 * 2);
        }

        @include tablet {
          flex: 0 0 calc(100% / 2 - 8px / 2);
          max-width: calc(100% / 2 - 8px / 2);
        }
      }
    }
  }
}
