.main-nav {
  @include tablet {
    display: none;
  }

  &__menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include laptop {
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &-item {
      padding: 16px 8px;
      cursor: pointer;

      @include desktop {
        padding: 16px 4px;
      }

      @include laptop {
        padding: 8px;
      }

      &-text {
        color: $darkgray;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        transition: $baseTransition;
      }

      &:hover &-text {
        color: $black;
      }
    }

    &-submenu-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% - 1px);
      z-index: 100;
      display: none;
      padding: 16px;
      border-radius: 0px 0px 8px 8px;
      background-color: $white;
      box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);

      @include desktop {
        left: -16px;
        right: -16px;
      }
    }

    &-item:hover &-submenu-wrapper {
      display: flex;
    }
  }

  &__submenu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &-item {
      flex: 1 1 calc(100% / 3);
      max-width: calc(100% / 3);
    }

    &-link {
      display: inline-block;
      max-width: calc(100% - 1px);
      padding: 15px 16px;
      box-sizing: border-box;
      overflow: hidden;
      color: $black;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        color: $red;
      }
    }
  }

  &__bestsellers {
    flex: 0 0 260px;
    padding-left: 16px;
    border-left: 1px solid rgba($color: $gray, $alpha: 0.3);

    &-title {
      margin: 0 0 16px;
      font-size: 16px;
      font-style: normal;
      font-weight: 550;
      line-height: 130%;
    }

    &-card {
      display: flex;
      gap: 16px;
      padding: 8px;

      &-figure {
        & img {
          display: block;
          width: 90px;
          height: 90px;
          object-fit: contain;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      &-name {
        font-size: 14px;
        font-style: normal;
        font-weight: 550;
        line-height: 130%;
      }

      &-amount {
        color: $green;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
      }

      &-price {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
      }
    }
  }
}
