.accordeon {
  padding: 24px;
  border-radius: 16px;
  background-color: $white;

  &__toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    cursor: pointer;

    &::after {
      content: "";
      flex: 0 0 auto;
      display: block;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border-radius: 40px;
      border: 1px solid $gray;
      background: url(../assets/icons/chevron.svg) center no-repeat;
      background-size: 16px;
      transform: rotate(180deg);
    }
  }

  &.active &__toggler {
    &::after {
      transform: rotate(0deg);
    }
  }

  &__panel {
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    color: $darkgray;
    transition: max-height ease-in-out 0.2s;
  }
}
