.breacrumbs {
  display: flex;
  gap: 8px;
  overflow-x: auto;

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $deepgray;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    transition: $baseTransition;

    &:hover {
      color: $red;
    }

    &::after {
      content: "/";
      display: inline-block;
      color: $deepgray;
    }

    &:last-child::after {
      display: none;
    }
  }
}
