.breacrumbs {
  display: flex;
  gap: 4px;
  overflow-x: auto;

  &__link {
    display: flex;
    gap: 4px;
    color: $deepgray;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;

    &::after {
      content: "/";
      display: inline-block;
    }

    &:last-child::after {
      display: none;
    }
  }
}
