.button {
  display: inline-block;
  max-width: 180px;
  width: 100%;
  padding: 16px;
  color: $white;
  font-size: 13px;
  font-style: normal;
  font-weight: 550;
  line-height: 100%;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  background-color: $red;
  transition: $baseTransition;
  cursor: pointer;

  &:hover {
    background-color: $black;
  }

  &:active {
    background-color: $darkgray;
  }

  &_icon {
    &::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url(../assets/icons/next-button.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: $baseTransition;
    }

    &:active::after {
      background-image: url(../assets/icons/next-button-wh.svg);
    }
  }

  &_light {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: $black;
    width: fit-content;
    border: 1px solid $gray;
    background-color: $white;

    &:hover {
      background-color: $lightgray;
    }

    &:active {
      color: $white;
      background-color: $black;
    }
  }
}
