.input {
  display: inline-block;
  padding: 16px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  border-radius: 50px;
  border: none;
  outline-color: rgba($color: $red, $alpha: 0.2);
  outline-width: 1px;
}
