.section {
  padding: 100px 0;

  @include tablet {
    padding: 32px 0;
  }

  &_with-button {
    @include tablet {
      position: relative;
      padding-bottom: 106px;
    }

    & .section-title__button {
      @include tablet {
        position: absolute;
        bottom: 32px;
        left: 50%;
        display: flex;
        max-width: none;
        transform: translateX(-50%);
      }

      @include mobile {
        left: 16px;
        right: 16px;
        width: auto;
        transform: none;
      }
    }
  }
}
