.section-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  margin: 0 0 50px;

  @include tablet {
    margin-bottom: 24px;
  }

  &__title {
    flex: 1 1 auto;
    max-width: 782px;

    @include tablet {
      max-width: none;
    }
  }

  &__button {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 24px;
    color: $black;
    width: fit-content;
    font-size: 13px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 50px;
    border: 1px solid $gray;
    background-color: $white;
    transition: $baseTransition;
    cursor: pointer;

    @include tablet {
      display: none;
    }

    &:hover {
      background-color: $lightgray;
    }

    &:active {
      color: $white;
      background-color: $black;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url(../assets/icons/next-button.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: $baseTransition;
    }

    &:active::after {
      background-image: url(../assets/icons/next-button-wh.svg);
    }
  }
}
